/* base styles, feel free to edit */
:root {
  --reddit-blue: #0079D3;
  --reddit-orange: #FF5700;
  --reddit-grey: rgba(0, 0, 0, 0.0975);
  --reddit-light-grey:  rgba(0, 0, 0, 0.041);
  --reddit-bg-color: #f1f1f7;
  --body-text-size: 12px;
  --alt-text-color:  rgba(0, 0, 0, 0.65);
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--reddit-bg-color);
  height: 100%;
  font-family: -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
}

footer {
  border-top: 1px solid var(--reddit-grey);
  padding: 10px;
  background-color: white;
  min-height: 50px;
  text-align: right;
}

.alt-text {
  color: var(--alt-text-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 50px;
  border-bottom: 1px solid var(--reddit-grey);
}

#logo {
  color: white;
  font-size: var(--body-text-size);
  width: 40px;
  height: 40px;
  background-color: var(--reddit-orange);
  border-radius: 50%;
}

#search {
  background-color: var(--reddit-bg-color);
  font: inherit;
  font-size: var(--body-text-size);
  border: none;
  padding: 7.5px 15px;
  outline: none;
  border: 1px solid var(--reddit-grey);
  border-radius: 4px;
}

#search::placeholder {
  letter-spacing: 0.5px;
  font-size: var(--body-text-size);
}

#search:focus {
  background-color: white;
  border-color: var(--reddit-blue);
}

.button {
  border: 1px solid var(--reddit-blue);
  border-radius: 4px;
  text-transform: uppercase;
  padding: 7.5px 15px;
  font-weight: bold;
}

.button-primary {
  color: var(--reddit-blue);
}

.button-secondary {
  background-color: var(--reddit-blue);
  color: white;
}

.banner > *,
footer > * {
  margin: 10px 25px;
}

.nav {
  list-style-type: none;
  padding: 0;
}

.nav-item {
  margin: auto;
  padding: 5px;
  display: inline;
  list-style-type: none;
}

#updateProfile,
#profile,
#signup,
#login,
#feed {
  min-width: 500px;
  max-width: 800px;
  width: 80%;
  margin: 20px auto;
  padding: 0;
}

.updateProfile-header,
.profile-header,
.signup-header,
.login-header,
.feed-header {
  display: flex;
  justify-content: space-between;
}

.updateProfile-title,
.profile.title,
.signup-title,
.login-title,
.feed-title {
  font-weight: normal;
  margin: 0;
}

/* Add your styles here */
.updateProfileBox,
.profileBox,
.postBox,
.signupBox,
.loginBox {
  display: flex;
  overflow: hidden;
  margin: 20px 0;
  background-color: white;
  border: 1px solid var(--reddit-grey);
  height: 300px;
  min-width: 500px;
  max-width: 800px;
  display: flex;
  justify-content: left;
  align-items: left;
}

.updateProfile-form,
.comment-form,
.inner-profile,
.post-form,
.signup-form,
.login-form {
  display: flex;
  flex-direction: column;
  height: 300px;
  min-width: 500px;
  max-width: 800px;  
  margin: 20px auto;
}

.post-title,
.signup-title,
.login-title {
  padding-bottom: 10px;
  margin: 0;
}

.post {
  display: flex;
  overflow: hidden;
  margin: 20px 0;
  background-color: white;
  border: 1px solid var(--reddit-grey);
}

.post .vote {
  width: 35px;
  background-color: var(--reddit-light-grey);
  text-align: center;
}

.post .content {
  padding: 10px;
}

.post-title {
  padding-bottom: 10px;
  margin: 0;
}

.post-author {
  margin: 5px 0;
  font-size: 12px;
  color: var(--reddit-blue);
}

.post-image {
  min-width: 500px;
  max-width: 800px;
  width: 80%;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
}

.modal-close {
  float: right;
}

.upvote-button {
  color: grey;
  font-size: 20px;
  text-align: center;
  width: 30px;
  height: 30px;
  background-color: white;
  border-radius: 50%;
}

.upvote-button.upvoted {
  color: white;
  background-color: var(--reddit-orange);
}

.pagination {
  display: flex;
  justify-content: space-between;
}

.profileBox,
.inner-profile {
  height: auto;
}